html {
  scroll-behavior: smooth;
}


  footer p {
    font-family: 'Source Sans Pro';
    position: absolute;
    bottom: 1%;
    right:1%;
    z-index:10002;
    color: #2e2d2e;
    font-size: x-large;
  }

.move_b{
  position: absolute;
  bottom: 4%;
  right:1%;
  width: 6%;
}


