html {
  scroll-behavior: smooth;
}
footer  {
  position: absolute;
  bottom: -200px;
  left: 0;
  right: 0;
  height: 300px;
  overflow: hidden;
}
footer p {
  font-family: "Source Sans Pro";
  position: absolute;
  bottom: 1%;
  right: 1%;
  z-index: 10002;
  color: #f5f5f5;
  font-size: x-large;
}

footer .footer_text {
  font-family: "Source Sans Pro";
  position: absolute;
  bottom: 1%;
  left: 1%;
  z-index: 10002;
  color: #f5f5f5;
  font-size: x-large;
}

.img_b {
  width: 10vh;
  position: absolute;
  bottom: 0;
  left: 0;
}

section .img_b {
  animation: sailing 30s linear infinite;
  z-index: 999;
  opacity: 1;
  animation-delay: 0s;
  bottom: 2%;
  left: -70;
}

section .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(../img/wave.png);
  background-size: 1000px 100px;
}

section .wave.wave1 {
  animation: animate 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}

section .wave.wave2 {
  animation: animate2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}

section .wave.wave3 {
  animation: animate 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}

section .wave.wave4 {
  animation: animate2 10s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: 1000px;
  }
}

@keyframes animate2 {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: -1000px;
  }
}

@keyframes sailing {
  0% {
    transform: translateX(-200px);
    translate: 0 -40%;
    rotate: -6deg;
  }

  25% {
    rotate: -4deg;
    translate: 25% -60%;
  }

  50% {
    rotate: 6deg;
    translate: 50% -80%;
  }

  75% {
    rotate: -2deg;
    translate: 75% -20%;
  }

  100% {
    transform: translateX(200vh);
    translate: 100% 100%;
    rotate: -4deg;
  }
}

@media (min-width: 800px) {
  .img_b {
    width: 6%;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  section .img_b {
    animation: sailing 30s linear infinite;
    z-index: 999;
    opacity: 1;
    animation-delay: 0s;
    bottom: 2%;
    left: -100;
  }

  section .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;

    background: url(../img/wave.png);
    background-size: 1000px 100px;
  }

  section .wave.wave1 {
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
  }

  section .wave.wave2 {
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
  }

  section .wave.wave3 {
    animation: animate 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
  }

  section .wave.wave4 {
    animation: animate2 10s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
  }

  @keyframes animate {
    0% {
      background-position-x: 0;
    }

    100% {
      background-position-x: 1000px;
    }
  }

  @keyframes animate2 {
    0% {
      background-position-x: 0;
    }

    100% {
      background-position-x: -1000px;
    }
  }

  @keyframes sailing {
    0% {
      transform: translateX(-200px);
      translate: 0 -40%;
      rotate: -6deg;
    }

    25% {
      rotate: -4deg;
      translate: 25% -60%;
    }

    50% {
      rotate: 6deg;
      translate: 50% -80%;
    }

    75% {
      rotate: -2deg;
      translate: 75% -20%;
    }

    100% {
      transform: translateX(200vh);
      translate: 100% 100%;
      rotate: -4deg;
    }
  }
}
