html {
  scroll-behavior: smooth;
}

.sticky-footer{
    position: sticky;
    top: 100%;
}


  footer p{
    font-family: 'Source Sans Pro';
    position: absolute;
    bottom: 2%;
    right:1%;
  }
  


   