*{
  margin: 0;
  padding: 0;
}


html {
  scroll-behavior: smooth;
}

body{
 background-image: url(../img/grid.png);
  background-size: 60%;
  position: relative;
  min-height: calc(100vh - 500px)
  
}

<<<<<<< HEAD
.main{
  padding-top: 131px;
  margin-left: 20px;
margin-right: 20px;
=======
main{
  margin-top:34%;
  min-height: calc(100vh - 200px);
>>>>>>> e2ad640736ae4c6e3a088ecf71b6f9497f0948ba
}


.main p{
  margin-top: 3%;
  font-size: x-large;
  font-weight: 500;
  font-style: italic;
}

p,
a {
  font-family: "Source Sans Pro";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway";
}

#overskrift{
  margin-left:2%;
  font-size: xx-large;
}

h1{
  font-size: 3.5vh;
  font-weight: 900;
}

h2{
  margin-top:4%;
  font-size: 3vh;
}

/*-------VELKOMMEN--------*/
<<<<<<< HEAD
.vel_box{
  border: 2px dashed #2e2d22;
  text-align: center;
  padding: 6% 0;
  font-size: xx-large;
  display: block;
  margin-top: 40%;
  margin-bottom: 5%;
  box-shadow: 6px 6px 1px 1px #40404081;
  text-shadow: 2px 3px #40404081;

}

.madeby{
  padding-bottom: 30%;
  text-align: center;
=======
.img_b1{
  max-width:100%;
  position: absolute;
}
.vel_text{
  position: absolute;
  z-index: 1;
  margin-top: 27%;
  margin-left: 25%;
  font-size: 3.5vh;
}

.vel_text2{
  position: absolute;
  z-index: 1;
  margin-top: 37%;
  margin-left: 22%;
  font-size: 3.5vh;
}
.made_by{
  position: absolute;
  z-index: 1;
  margin-top: 50%;
  margin-left: 8%;
  font-size: 1.5vh;
}

.forside_box{
  position: relative;
  top:5%;
  bottom: 100%;
>>>>>>> e2ad640736ae4c6e3a088ecf71b6f9497f0948ba
}
/*------------------------------*/


/*---------PORTOFOLIO----------*/


.t2_box{
  border: 2px dashed #2e2d22;
  background-color: rgba(226, 238, 140, 0.582);
  width: 14%;
  padding: 19% 14%;
  margin: 5% 28% 10%;
  display: block;
  cursor: pointer;
  box-shadow: 6px 6px 1px 1px #40404081;
  text-shadow:2px 3px rgba(128, 134, 80, 0.959);
}



.t3_box{
  border: 2px dashed #2e2d22;
  background-color: rgb(204, 243, 245, 0.582);
  width: 14%;
  padding: 19% 14%;
  margin: 5% 28% 10%;
  display: block;
  cursor: pointer;
  box-shadow: 6px 6px 1px 1px #40404081;
  text-shadow:2px 3px rgba(142, 169, 171, 0.888);
}



.t4_box{
  border: 2px dashed #2e2d22;
  background-color: rgb(248, 214, 230, 0.582);
  width: 14%;
  padding: 19% 14%;
  margin: 5% 28% 10%;
  display: block;
  cursor: pointer;
  box-shadow: 6px 6px 1px 1px #40404081;
  text-shadow:2px 3px rgba(187, 155, 170, 0.92);
}


.t5_box{
  border: 2px dashed #2e2d22;
  background-color: rgba(214, 222, 248,  0.582);
  width: 14%;
  padding: 19% 14%;
  margin: 5% 28% 10%;
  display: block;
  cursor: pointer;
  box-shadow: 6px 6px 1px 1px #40404081;
  text-shadow: 2px 3px rgba(147, 156, 185, 0.916);
}

.t2_box:hover{
  animation: scale 1.5s;
}

.t3_box:hover{
  animation: scale 1.5s;
}

.t4_box:hover{
  animation: scale 1.5s;
}

.t5_box:hover{
  animation: scale 1.5s;
}
@keyframes scale{
  0% {
    transform:scale(.90);
  }
  70% {
    transform:scale(1.3);
  }
  100%{
    transform:scale(1.3);
  }
}

.t2_a, .t3_a,  .t4_a, .t5_a{
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 3.5vh;
  display: block;
  text-decoration: none;
}
.img_b2{
  max-width: 50%;
  display: block;
  margin: auto;
}

/*------------------------*/

/*-----om--------*/

.om_box{
  position: relative;
  top:5%;
  bottom: 100%;
  z-index: 1;
}
.img_box{
  border: 2px dashed #2e2d22;
  /*background-color: rgba(253, 209, 248, 0.582);*/
  background-color: #9b9a9a54;
  width: 26%;
  padding: 34% 14% 40%;
  margin: 8% 18%;
  display: block;
  position: absolute;
  box-shadow: 6px 6px 1px 1px #404040ea;
  z-index: 2;
}

#img_1{
  width: 70%;
  display: block;
  margin: auto;
  z-index: 1;
  position:absolute;
  top: -12%;
  right: 14.5%;
  z-index: 3;
  
  }

.om_text{
  margin-left: 2%;
  font-size: 2.1vh;
}

#om_img_1{
  max-width: 31%; 
  z-index: 0;
  margin-top:20%;
  margin-left: -13%;
  position: absolute;

}

#om_img_2{
  max-width: 8%; 
  z-index: 4;
  margin-top:45%;
  margin-left: 12%;
  position: absolute;

}

.om_textbox{
  margin-top: 40%;
}
/*--------------------*/


/*---------------t2----------------*/
/* få til bageknap til at show mobil format som i web*/
<<<<<<< HEAD
.tilbage_knap{
  display:inline !important;
}
=======
>>>>>>> e2ad640736ae4c6e3a088ecf71b6f9497f0948ba

._img{
  max-width: 600px;
  display: block;
  margin: auto;
}


.t_overskrift{
  padding-top:60px;
  font-size: 50px;
}
/*--------------------------*/


/*-------------webformat----------*/


@media (min-width: 800px) {
  main {
    margin: auto;
    max-width: 1200px;
    margin-top: 8%;
  }
  

<<<<<<< HEAD
  /*-------VELKOMMEN----------*/
  .vel_box{
    display: block;
    margin-top: 14%;
    margin-right: 60px;
    margin-left: 60px;
    margin-bottom: 2%;
=======
>>>>>>> e2ad640736ae4c6e3a088ecf71b6f9497f0948ba

  /*-------VELKOMMEN----------*/
  .vel_text{
    position: absolute;
    z-index: 1;
    margin-top: 27%;
    margin-left: 31%;
    font-size: 7.5vh;
  }
  
  .vel_text2{
    position: absolute;
    z-index: 1;
    margin-top: 37%;
    margin-left: 28%;
    font-size: 7.5vh;
  }
  .made_by{
    position: absolute;
    z-index: 1;
    margin-top: 50%;
    margin-left: 8%;
    font-size: 3.5vh;
  }

  .madeby{
    padding-bottom: 10%;
    text-align: center;
  }

    /*--------------------*/

  /*-----------portofolio---------*/
    .grid_1-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr;
    margin-top: 10%;
    }

    .t2_box{
      width: 12%;
      height: 6%;

    }
    
    .t3_box{
      width: 12%;
      height: 6%;
   
    }
    
    .t4_box{
      width: 12%;
      height: 6%;
   
    }
    
    .t5_box{
      width: 12%;
      height: 6%;

    }

  /*------------------------------*/
    /*---------OM---------*/
    .grid2_1-1{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .om_text{
<<<<<<< HEAD
      font-size: 2.2vh;
=======
      margin-top: 12%;
      font-size: 2vh;
>>>>>>> e2ad640736ae4c6e3a088ecf71b6f9497f0948ba
    }
    .padding-top{
      padding-top:100px;
    }

    .om_box{
      top:1%;
      left:4%;
    }

    .center_text{
      text-align: center;
    }

    .om_col{
      padding-right: 60px;
    }

  /*----------------*/

  /*---------------t2-------------*/

  .grid3_1-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
  
    }

    .t_indhold{
      padding-right: 60px;
      padding-left: 60px ;
      
    }

    .mid_t_text{
      padding-right:20vh;
      padding-left: 20vh;
    }

    /*-----------------*/

}