*{
  margin: 0;
  padding: 0;
}


html {
  scroll-behavior: smooth;
  --primary-color: #2e2d2b;  
  --secondary-color: #9b9a9a54 ;
  --tertiary-color: #f5f5f5; 

  --boat-color: #df4e4ef8; 
  --water-color: #4da6dd;
}


/* 

p{
  color: var(----primary-color);
}
*/
body{
 background-image: url(../img/grid.png);
  background-size: 60%;
  position: relative;
  min-height: calc(100vh - 500px)
  
}

.main{
  padding-top: 131px;
  margin-left: 20px;
margin-right: 20px;
}


.main p{
  margin-top: 3%;
  font-size: x-large;
  font-weight: 500;
  font-style: italic;
}

p,
a {
  font-family: "Source Sans Pro";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway";
}

#overskrift{
  margin-left:2%;
  font-size: xx-large;
}

h1{
  font-size: 3.5vh;
  font-weight: 900;
}

/*-------VELKOMMEN--------*/

/*--------stil lpicture moving fra https://youtu.be/jMVhxBB3l0w ---------*/


.vel_text{
 padding-top: 1px;
 color: var(--boat-color);
 text-shadow:2px 3px var(--primary-color);
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 text-align: center;
 padding-bottom: 20px;
}
.madeby{
padding-top: 108%;
  text-align: center;
  font-size: 16px !important;
}

.madeby1{
  display: none;
}

.center_knap{
  position: absolute;
  bottom:-180%;
  justify-content: center;
}

.screen1{
  width: 300px;
  display:list-item;
  border: 3px dashed var(--primary-color);
  box-shadow: 6px 6px 1px 1px #40404081;
  aspect-ratio: 10 / 16;
  overflow: hidden;
  position: relative;
  z-index: 10;
  display: block;
  margin: auto;
}

.screen1:after,
.screen1:before {
  content: "";
  height: 5px;
  position: absolute;
  z-index: 4;
  left: 50%;
  translate: -50% 0%;
}

.screen1:before {
  width: 15%;
  top: 0rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.screen1:after {
  width: 25%;
  bottom: 0rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

@keyframes pan-overlay {
  from {
    background-position: 0% 0%;
  }
  
  to {
    background-position: 0% -100%;
  }
}

.screen-overlay1 {    
  background-size: 100% 9px;
  height: 100%;
  width: 100%;
  animation: pan-overlay 22s infinite linear;
  position: absolute;
  z-index: 2;
  left: 0px;
  top: 0px;
}


@keyframes pan-image {  
  0% {
    background-position: 36% 42%;
    background-size: 200%;
  }
  
  20% {
    background-position: 30% 35%;
    background-size: 200%;
  }
  
  20.0001% { /* -- View 2 -- */
    background-position: 60% 85%;
    background-size: 500%;
  }
  
  40% {
    background-position: 60% 80%;
    background-size: 500%;
  }
  
  40.0001% { /* -- View 3 -- */
    background-position: 80% 42%;
    background-size: 300%;
  }
  
  60% {
    background-position: 84% 33%;
    background-size: 300%;
  }
  
  60.0001% { /* -- View 4 -- */
    background-position: 0% 0%;
    background-size: 300%;
  }
  
  80% {
    background-position: 15% 4%;
    background-size: 300%;
  }
  
  80.0001% { /* -- View 5 -- */
    background-position: 80% 10%;
    background-size: 300%;
  }
  
  100% {
    background-position: 72% 14%;
    background-size: 300%;
  }
}

.screen1 > .screen-image1 {
  background-image: url(../img/Snapchat_1.jpg); /*selv taget billedet der bruges til dette element*/
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 0px;
  background-size: 300%;
  background-position: 0% 0%;
  filter: sepia(100%) hue-rotate(160deg);
  opacity: 0.6;
  animation: pan-image 15s linear infinite;
}

.screen1 > .screen-content1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  gap: 4rem;
  position: relative;
  z-index: 3;
  margin: 1rem;
  padding-bottom: 6rem;
  border: 1px solid rgb(var(--primary-rgb) / 50%);
  border-radius: 0.6rem;
}

.screen1 > .screen-content1 > .screen-icon1 {
  color: white;
  font-size: 4rem;
  text-shadow: 0px 0px 0.5rem white;
}

.screen1 > .screen-content1 > .screen-user1{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.screen1 > .screen-content1 > .screen-user1:before,
.screen1 > .screen-content1 > .screen-user1:after {
  content: "";
  position: absolute;
  top: 0px;
  background-color: rgb(var(--primary-rgb));
  border-radius: 1rem;
  box-shadow: 0px 0px 8px 3px rgb(var(--primary-rgb) / 60%);
}

.screen1 > .screen-content1 > .screen-user1:before {
  height: 2px;
  width: 50px;
  translate: -20px -1rem;
  opacity: 0.75;
}

.screen1 > .screen-content1 > .screen-user1:after {
  height: 3px;
  width: 30px;
  translate: 26px calc(-1rem - 0.5px);
}

.screen1 > .screen-content1 > .screen-user1 > :is(.name1, .link1) {
  font-family: "Source Code Pro", monospace;
  color: white; 
  text-align: center;
  text-transform: uppercase; 
}

.screen1 > .screen-content1 > .screen-user1 > .name1 {
  position: relative;
  font-size: 4.25rem;
  font-weight: 400;
}

.screen1 > .screen-content1 > .screen-user1 > .name1:before,
.screen1 > .screen-content1 > .screen-user1 > .name1:after {
  content: "";
  height: 4px;
  width: 4px;
  position: absolute;
  border: 2px solid white;
  border-radius: 2px;
}

.screen1 > .screen-content1 > .screen-user1 > .name1:before {
  top: 55%;
  right: -1.5rem;
}

.screen1 > .screen-content1 > .screen-user1 > .name1:after {
  top: 45%;
  left: -1.5rem;  
}

.screen1 > .screen-content1 > .screen-user1 > .link1 {  
  opacity: 0.8;
  font-size: 1.5rem;
  text-shadow: 0px 0px 0.5rem white;
  font-weight: 400;
  letter-spacing: 0.3rem;
  text-decoration: none;
}

.screen1 > .screen-content1 > .screen-user1 > .link1:is(:hover, :focus) {  
  text-decoration: underline; 
}


/*------------------------------*/


/*---------PORTOFOLIO----------*/


.t2_box{
  border: 2px dashed #2e2d22;
  background-color: rgba(226, 238, 140, 0.582);
  width: 14%;
  padding: 19% 14%;
  margin: 5% 28% 10%;
  display: block;
  cursor: pointer;
  box-shadow: 6px 6px 1px 1px #40404081;
  text-shadow:2px 3px rgba(128, 134, 80, 0.959);
}



.t3_box{
  border: 2px dashed #2e2d22;
  background-color: rgb(204, 243, 245, 0.582);
  width: 14%;
  padding: 19% 14%;
  margin: 5% 28% 10%;
  display: block;
  cursor: pointer;
  box-shadow: 6px 6px 1px 1px #40404081;
  text-shadow:2px 3px rgba(142, 169, 171, 0.888);
}



.t4_box{
  border: 2px dashed #2e2d22;
  background-color: rgb(248, 214, 230, 0.582);
  width: 14%;
  padding: 19% 14%;
  margin: 5% 28% 10%;
  display: block;
  cursor: pointer;
  box-shadow: 6px 6px 1px 1px #40404081;
  text-shadow:2px 3px rgba(187, 155, 170, 0.92);
}


.t5_box{
  border: 2px dashed #2e2d22;
  background-color: rgba(214, 222, 248,  0.582);
  width: 14%;
  padding: 19% 14%;
  margin: 5% 28% 10%;
  display: block;
  cursor: pointer;
  box-shadow: 6px 6px 1px 1px #40404081;
  text-shadow: 2px 3px rgba(147, 156, 185, 0.916);
}

.t2_box:hover{
  animation: scale 1.5s;
}

.t3_box:hover{
  animation: scale 1.5s;
}

.t4_box:hover{
  animation: scale 1.5s;
}

.t5_box:hover{
  animation: scale 1.5s;
}
@keyframes scale{
  0% {
    transform:scale(.90);
  }
  70% {
    transform:scale(1.3);
  }
  100%{
    transform:scale(1.3);
  }
}

.t2_a, .t3_a,  .t4_a, .t5_a{
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 3.5vh;
  display: block;
  text-decoration: none;
}

/*------------------------*/

/*-----om--------*/

.om_box{
  position: relative;
  top:5%;
  bottom: 100%;
}
.img_box{
  border: 2px dashed #2e2d22;
  /*background-color: rgba(253, 209, 248, 0.582);*/
  background-color: #9b9a9a54;
  width: 26%;
  padding: 34% 14% 40%;
  margin: 8% 18%;
  display: block;
  box-shadow: 6px 6px 1px 1px #40404081;
}

#img_1{
  width: 38%;
  display: block;
  margin: auto;
  z-index: 1;
  position:absolute;
  top: -12%;
  right: 35.5%;
  
  }


.om_text{
  margin-left: 2%;
  font-size: 2.1vh;
  
}
.pointer{
  cursor: pointer;
  font-weight: 700;
}
.text-center{
  text-align: center;
}

.customers {
  border-collapse: collapse;
  width: 100%;
}

.customers td, .customers th {
  border: 1px dashed #2e2d22;
  padding: 8px;
}

.customers tr:nth-child(even){background-color: #f2f2f2;}

.customers tr:hover {background-color: #ddd;}

.customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:var(--secondary-color);
  color: var(--primary-color);
  font-size: 26px;

}


/*kontakt fomular youtube video: https://youtu.be/vKsSWy5JhUo*/
.kontakt_container {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

.form-heading {
  font-family: "Arial", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  color: #2e2d2e;
  margin-bottom: 2rem;
  transition: all 0.3s;
  padding-top: 30px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form-input {
  width: 20rem;
  height: 3rem;
  padding: 0.5rem;
  margin: 1rem 0;
  background-color: rgba(255, 255, 255, 0.4);
  border: 2px dashed #2e2d2e;
  box-shadow: 6px 6px 1px 1px #40404081;
  font-size: 1.7rem;
  font-weight: 300;
  color: #aaa;
  letter-spacing: 0.1rem;
  outline: none;
}

.contact-form-input:focus {
  color: #929292;
  border: 2px solid #707070;
}

.contact-form-input::placeholder {
  color: #929292;
}

.contact-form-textarea {
  height: 10rem;
  resize: none;
}

.form-submit-btn {
  width: 14rem;
  height: 5rem;
  margin-top: 2vh;
  background-color: #fff;
  border: 2px dashed var(--primary-color);
  box-shadow: 6px 6px 1px 1px #40404081;
  font-size: 30px;
  color: var(--boat-color);
  cursor: pointer;
  margin-bottom: 30px;
}


/*--------------------*/


/*---------------t2----------------*/
/* få til bageknap til at show mobil format som i web*/
.tilbage_knap{
  display:inline !important;
}

._img{
  max-width: 600px;
  display: block;
  margin: auto;
}


.t_overskrift{
  padding-top:60px;
  font-size: 50px;
}
/*--------------------------*/


/*-------------webformat----------*/


@media (min-width: 800px) {
  main {
    margin: auto;
    max-width: 1200px;
    margin-top: 8%;
  }
  

  /*-------VELKOMMEN----------*/
  .grid_1-1-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
 
  }

  .madeby{
    padding-bottom: 10%;
    text-align: center;
  }

  .madeby1{
    padding-top: 108%;
    text-align: center;
  }

  .show_madeby1{
    display: block;
  }
  .col_index{
    margin: auto;
  }
  .screen{
    width: 300px;
    display: list-item;
    border: 3px dashed var(--primary-color);
    box-shadow: 6px 6px 1px 1px #40404081;
    aspect-ratio: 10 / 16;
    overflow: hidden;
    position: relative;
    z-index: 10;
    display: block;
    margin: auto;
  }
  
  .screen:after,
  .screen:before {
    content: "";
    height: 5px;
    position: absolute;
    z-index: 4;
    left: 50%;
    translate: -50% 0%;
  }
  
  .screen:before {
    width: 15%;
    top: 0rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
  
  .screen:after {
    width: 25%;
    bottom: 0rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
  
  
  .screen-overlay {    
    background-size: 100% 9px;
    height: 100%;
    width: 100%;
    animation: pan-overlay 22s infinite linear;
    position: absolute;
    z-index: 2;
    left: 0px;
    top: 0px;
  }
  
  
  
  .screen > .screen-image {
    background-image: url(../img/Snapchat_1.jpg); /*selv taget billedet der bruges til dette element*/
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 0px;
    background-size: 300%;
    background-position: 0% 0%;
    filter: sepia(100%) hue-rotate(160deg);
    opacity: 0.6;
    animation: pan-image 15s linear infinite;
  }
  
  .screen > .screen-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    gap: 4rem;
    position: relative;
    z-index: 3;
    margin: 1rem;
    padding-bottom: 6rem;
    border: 1px solid rgb(var(--primary-rgb) / 50%);
    border-radius: 0.6rem;
  }
  
  .screen > .screen-content > .screen-icon {
    color: white;
    font-size: 4rem;
    text-shadow: 0px 0px 0.5rem white;
  }
  
  .screen > .screen-content > .screen-user{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: relative;
  }
  
  .screen > .screen-content > .screen-user:before,
  .screen > .screen-content > .screen-user:after {
    content: "";
    position: absolute;
    top: 0px;
    background-color: rgb(var(--primary-rgb));
    border-radius: 1rem;
    box-shadow: 0px 0px 8px 3px rgb(var(--primary-rgb) / 60%);
  }
  
  .screen > .screen-content > .screen-user:before {
    height: 2px;
    width: 50px;
    translate: -20px -1rem;
    opacity: 0.75;
  }
  
  .screen > .screen-content > .screen-user:after {
    height: 3px;
    width: 30px;
    translate: 26px calc(-1rem - 0.5px);
  }
  
  .screen > .screen-content > .screen-user > :is(.name, .link) {
    font-family: "Source Code Pro", monospace;
    color: white; 
    text-align: center;
    text-transform: uppercase; 
  }
  
  .screen > .screen-content > .screen-user1> .name {
    position: relative;
    font-size: 4.25rem;
    font-weight: 400;
  }
  
  .screen > .screen-content > .screen-user > .name:before,
  .screen > .screen-content > .screen-user > .name:after {
    content: "";
    height: 4px;
    width: 4px;
    position: absolute;
    border: 2px solid white;
    border-radius: 2px;
  }
  
  .screen > .screen-content > .screen-user > .name:before {
    top: 55%;
    right: -1.5rem;
  }
  
  .screen> .screen-content > .screen-user > .name:after {
    top: 45%;
    left: -1.5rem;  
  }
  
  .screen > .screen-content > .screen-user > .link {  
    opacity: 0.8;
    font-size: 1.5rem;
    text-shadow: 0px 0px 0.5rem white;
    font-weight: 400;
    letter-spacing: 0.3rem;
    text-decoration: none;
  }
  
  .screen > .screen-content > .screen-user > .link:is(:hover, :focus) {  
    text-decoration: underline; 
  }

  .screen2{
    width: 300px;
    display: list-item;
    border: 3px dashed var(--primary-color);
    box-shadow: 6px 6px 1px 1px #40404081;
    aspect-ratio: 10 / 16;
    overflow: hidden;
    position: relative;
    z-index: 10;
    display: block;
    margin: auto;
  }
  
  .screen2:after,
  .screen2:before {
    content: "";
    height: 5px;
    position: absolute;
    z-index: 4;
    left: 50%;
    translate: -50% 0%;
  }
  
  .screen2:before {
    width: 15%;
    top: 0rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
  
  .screen2:after {
    width: 25%;
    bottom: 0rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
  
  
  .screen-overlay2 {    
    background-size: 100% 9px;
    height: 100%;
    width: 100%;
    animation: pan-overlay 22s infinite linear;
    position: absolute;
    z-index: 2;
    left: 0px;
    top: 0px;
  }
  
  
  
  .screen2 > .screen-image2 {
    background-image: url(../img/Snapchat_1.jpg); /*selv taget billedet der bruges til dette element*/
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 0px;
    background-size: 300%;
    background-position: 0% 0%;
    filter: sepia(100%) hue-rotate(160deg);
    opacity: 0.6;
    animation: pan-image 15s linear infinite;
  }
  
  .screen2 > .screen-content2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    gap: 4rem;
    position: relative;
    z-index: 3;
    margin: 1rem;
    padding-bottom: 6rem;
    border: 1px solid rgb(var(--primary-rgb) / 50%);
    border-radius: 0.6rem;
  }
  
  .screen2 > .screen-content2 > .screen-icon2 {
    color: white;
    font-size: 4rem;
    text-shadow: 0px 0px 0.5rem white;
  }
  
  .screen2 > .screen-content2 > .screen-user2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: relative;
  }
  
  .screen2 > .screen-content2 > .screen-user2:before,
  .screen2 > .screen-content2 > .screen-user2:after {
    content: "";
    position: absolute;
    top: 0px;
    background-color: rgb(var(--primary-rgb));
    border-radius: 1rem;
    box-shadow: 0px 0px 8px 3px rgb(var(--primary-rgb) / 60%);
  }
  
  .screen2 > .screen-content2 > .screen-user2:before {
    height: 2px;
    width: 50px;
    translate: -20px -1rem;
    opacity: 0.75;
  }
  
  .screen2 > .screen-content2 > .screen-user2:after {
    height: 3px;
    width: 30px;
    translate: 26px calc(-1rem - 0.5px);
  }
  
  .screen2 > .screen-content2 > .screen-user2 > :is(.name2, .link2) {
    font-family: "Source Code Pro", monospace;
    color: white; 
    text-align: center;
    text-transform: uppercase; 
  }
  
  .screen2 > .screen-content2 > .screen-user2 > .name2 {
    position: relative;
    font-size: 4.25rem;
    font-weight: 400;
  }
  
  .screen2 > .screen-content2 > .screen-user2 > .name2:before,
  .screen2 > .screen-content2 > .screen-user2 > .name2:after {
    content: "";
    height: 4px;
    width: 4px;
    position: absolute;
    border: 2px solid white;
    border-radius: 2px;
  }
  
  .screen2 > .screen-content2 > .screen-user2 > .name2:before {
    top: 55%;
    right: -1.5rem;
  }
  
  .screen2 > .screen-content2 > .screen-user2 > .name2:after {
    top: 45%;
    left: -1.5rem;  
  }
  
  .screen2 > .screen-content2 > .screen-user2 > .link2 {  
    opacity: 0.8;
    font-size: 1.5rem;
    text-shadow: 0px 0px 0.5rem white;
    font-weight: 400;
    letter-spacing: 0.3rem;
    text-decoration: none;
  }
  
  .screen2 > .screen-content2 > .screen-user2 > .link2:is(:hover, :focus) {  
    text-decoration: underline; 
  }
  



    /*--------------------*/

  /*-----------portofolio---------*/
    .grid_1-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr;
    margin-top: 10%;
    }

    .t2_box{
      width: 12%;
      height: 6%;

    }
    
    .t3_box{
      width: 12%;
      height: 6%;
   
    }
    
    .t4_box{
      width: 12%;
      height: 6%;
   
    }
    
    .t5_box{
      width: 12%;
      height: 6%;

    }

  /*------------------------------*/
    /*---------OM---------*/
    .grid2_1-1{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .om_text{
      font-size: 2.2vh;
    }
    .padding-top{
      padding-top:100px;
    }

    .om_box{
      top:1%;
      left:4%;
    }

    .center_text{
      text-align: center;
    }

    .om_col{
      padding-right: 60px;
    }
    /*kontakt fomular*/
    .kontakt_container {
     margin-left:30px;
      /*flyt kontakt til venstre og indsæt billede til højre*/
     
    }
    
    .form-heading {
      font-size: 4rem;
      margin-bottom: 3rem;
      transition: all 0.3s;
    }
    
    
    .contact-form-input {
      width: 50rem;
      height: 5rem;
    }
    
  
    .form-submit-btn {
      width: 14rem;
      height: 5rem;
      margin-top: 2vh;
      margin-bottom: 30px;
    }
    

  /*----------------*/

  /*---------------t2-------------*/

  .grid3_1-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
  
    }

    .t_indhold{
      padding-right: 60px;
      padding-left: 60px ;
      
    }

    .mid_t_text{
      padding-right:20vh;
      padding-left: 20vh;
    }

    /*-----------------*/

}


