html {
  scroll-behavior: smooth;
}

body{
  background-image: url(../img/grid.png);
  background-size: 60%;
  min-height: 100vh;
}


p,
a {
  font-family: "Source Sans Pro";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway";
}

#overskrift{
  margin-left:2%;
  font-size: xx-large;
}

h1{
  font-size: 3.5vh;
  font-weight: 900;
}

/*-------VELKOMMEN--------*/
.vel_box{
  border: 2px dashed #2e2d22;
  text-align: center;
  padding: 6% 0;
  font-size: xx-large;
  display: block;
  margin-top: 50%;
  box-shadow: 6px 6px 1px 1px #40404081;
  text-shadow: 2px 3px #40404081;
}
/*------------------------------*/


/*---------PORTOFOLIO----------*/


.t2_box{
  border: 2px dashed #2e2d22;
  background-color: rgba(226, 238, 140, 0.582);
  width: 18%;
  padding: 20% 14%;
  margin: 5% 28% 10%;
  display: block;
  cursor: pointer;
  box-shadow: 6px 6px 1px 1px #40404081;
  text-shadow:2px 3px rgba(128, 134, 80, 0.959);
}

.t3_box{
  border: 2px dashed #2e2d22;
  background-color: rgb(204, 243, 245, 0.582);
  width: 18%;
  padding: 20% 14%;
  margin: 5% 28% 10%;
  display: block;
  cursor: pointer;
  box-shadow: 6px 6px 1px 1px #40404081;
  text-shadow:2px 3px rgba(142, 169, 171, 0.888);
}

.t4_box{
  border: 2px dashed #2e2d22;
  background-color: rgb(248, 214, 230, 0.582);
  width: 18%;
  padding: 20% 14%;
  margin: 5% 28% 10%;
  display: block;
  cursor: pointer;
  box-shadow: 6px 6px 1px 1px #40404081;
  text-shadow:2px 3px rgba(187, 155, 170, 0.92);
}


.t5_box{
  border: 2px dashed #2e2d22;
  background-color: rgba(214, 222, 248,  0.582);
  width: 18%;
  padding: 20% 14%;
  margin: 5% 28% 10%;
  display: block;
  cursor: pointer;
  box-shadow: 6px 6px 1px 1px #40404081;
  text-shadow: 2px 3px rgba(147, 156, 185, 0.916);
}

.t2_a, .t3_a,  .t4_a, .t5_a{
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 3.5vh;
  display: block;
  text-decoration: none;
}

/*------------------------*/

/*-----om--------*/

.om_box{
  position: relative;
  top:5%;
  bottom: 100%;
}
.img_box{
  border: 2px dashed #2e2d22;
  /*background-color: rgba(253, 209, 248, 0.582);*/
  background-color: #9b9a9a54;
  width: 30%;
  padding: 46% 14% 40%;
  margin: 15% 20%;
  display: block;
  box-shadow: 6px 6px 1px 1px #40404081;
}

#img_1{
  width: 44%;
  display: block;
  margin: auto;
  z-index: 1;
  position:absolute;
  top: -12%;
  right: 28%;
  
  }

.om_text{
  margin-left: 2%;
}
/*--------------------*/


/*-------------webformat----------*/


@media (min-width: 800px) {
  main {
    margin: auto;
    max-width: 1200px;
  }
  
  
}
