
html {
  scroll-behavior: smooth;
}

/*--------hamburger menu fra youtube: https://www.youtube.com/watch?v=OFKBep95lb4&t=873s--------*/

.container{
  background-color: #f5f5f596;
}
#myHeader{
  background-color: #f5f5f596;
  position: fixed;
  top: 2.2%;
  width: 100%;
  z-index: 5;
}
.hamburger {
    position: absolute;
    display: block;
    width: 35px;
    margin: 16px 16px 20px 0;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    z-index: 3;
    top:0;
    right:0;
  }

.hamburger .bar,
.hamburger:after,
.hamburger:before {
  /* after og before er psheudo elementer der kan lave flere elementer til den det givet element*/
  content: ""; /* content er none*/
  display: block;
  width: 100%;
  height: 5px;
  background-color: #2e2d2e;
  margin: 6px 0;
  transition: 0.4s;
}

.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.hamburger.is-active:after {
  transform: rotate(45deg) translate(-9px, -8px);
}

.mobil-nav {
    margin-top: 0%;
    display: block;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    position: fixed;
    z-index: 2;
    padding-top: 68%;
    transition: 0.4s;
    background-color: #a4a4a4b0;
  }
  
  .mobil-nav.is-active {
    left: 0;
  }
  
  .mobil-nav a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 40px;
    text-align: center;
    padding: 16px;
    background-color: rgba(212, 210, 210, 0.748);
    color: #2e2d2e;
    border-radius: 6px;
    box-shadow: 6px 6px 1px 1px rgb(117, 113, 113);
  }
  

  .nav_link {
    font-size: 18px;
    font-weight: 300;
    background: rgba(212, 210, 210, 0.254);
    box-shadow: 6px 6px 1px 1px rgb(117, 113, 113);
    background-color: rgba(212, 210, 210, 0.748);
    padding: 10px;
    margin: 0 5px;
    color:  #2e2d2e;
    text-decoration: none;
    border-radius: 6px;
    display: none;
    transition: 0.2s;
  }
  
  .nav_link:hover {
    background:  #2e2d2e;
    color: #f5f5f5;
  }
  
  li {
    list-style: none;
    display: flex;
    padding: 0 16px;
  }

  .nav-text {
    text-align: center;
    flex-grow: 1;
    margin-top: 16px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 16px;
    color:  #2e2d2e;
    margin-top: 20px;

  }

  .sticky {
    position: fixed;
    top: 2.2%;
    width: 100%;
    z-index: 3;
  }
  
  
  .sticky + .content {
    padding-top: 102px;
  }
/*----------------------------*/

  @media (min-width: 800px) {
    .mobil-nav {
        display: none;
      }
    
      .hamburger {
        display: none;
      }
      
    .nav_link {
        display: inline-block;
        margin-top: 4%;
        }

    nav {
        position: absolute;
        margin: auto;
      top:0;
      right:2%;
      }
   

  }